<%- partial('_partial/head') %>
<body>
  <p>[themes/lumbrera/layout/_partial/layout.ejs]</p>
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

    <section id="main"><%- body %></section>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
</body>
</html>
