<section class="hero hero-homepage is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="has-text-centered">
            <h2 class="title">
              Intelligence and expertise are muscles that strengthen with exercise
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
