<div class="projects">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <div class="intro has-text-centered">
            <h2 class="title">What</h2>
            <p>We plan and develop communication strategies Online and Offline.  We feel passion for our work.  Our strength is communication and usability.</p>
          </div>
          <div class="columns">
            <div class="column">
              <h3 class="subtitle">Offline</h3>
              <p>Brand creation and management, communication campaigns, editorial design, print.</p>
              <p>Our favourite tools: Slack, Trello, Sketch, Paper, Pencil and coffee.</p>
            </div>
            <div class="column">
              <h3 class="subtitle">Online</h3>
              <p>Product design, Interactive branding, responsive web development, mobile apps, information architecture. </p>
              <p>Our favorite tools: Slack, Trello, Docker, Drupal, Laravel, Vue.js, HTML5, CSS3 and more coffee.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- partial('_partial/project/grid') %>
</div>
