<p>[themes/lumbrera/layout/_partial/footer.ejs]</p>
<footer id="footer">
  <div id="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
  </div>
</footer>
